Flask==0.8
Flask-Script
Flask-Principal==0.2
Flask-SQLAlchemy==0.16
Flask-Testing==0.3
Flask-WTF==0.6
Jinja2==2.6
SQLAlchemy==0.7.8
WTForms==1.0.1
Werkzeug==0.8.3
blinker==1.2
simplejson==2.6.0
twill==0.9
wsgiref==0.1.2
